@import "tailwindcss";



body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Vazir', sans-serif;
  direction: rtl;
  padding: 0;
  margin: 0;
  background: rgb(201, 208 , 223);
}
